@inherits LayoutComponentBase

<div style="width 100%; padding:50px">
    <Card Bordered="true" Title=@("Series Handbook - Login")>
        <Body>
            @Body
        </Body>
    </Card>
</div>
