<Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse>
    <Menu Mode="MenuMode.Inline">
        @{
            RenderFragment sub1Title =
            @<span>
                <Icon Type="desktop" Theme="outline" />
                <span>Series</span>
            </span>;
        }
        <SubMenu Key="sub1" TitleTemplate=sub1Title>
            <MenuItem Key="1"><a href="/">Series</a></MenuItem>
            <MenuItem Key="2"><a href="/SeriesBookmark">Sua lista</a></MenuItem>
        </SubMenu>
        @{
            RenderFragment sub2Title =
            @<span>
                 <Icon Type="video-camera" Theme="outline" />
                <span>Filmes</span>
            </span>;
        }
        <SubMenu Key="sub2" TitleTemplate=sub2Title>
            <MenuItem Key="3"><a href="movies">Filmes</a></MenuItem>
            <MenuItem Key="4"><a href="MoviesBookmark">Sua lista</a></MenuItem>
        </SubMenu>
    </Menu>
</Sider>

@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }

}
